.banner{
  background-image: url('../public/images/Group\ 12.svg');
  background-size: cover;
}
.services{
  position: absolute;
  background-image: url('../public/images/service1.svg');
  background-position: top left;
  background-repeat: no-repeat;
}
.service{
  position: relative;
  background-image: url('../public/images/service2.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
}