.banner{
  background-image: url('../public/images/Group\ 12.svg');
  background-size: cover;
}
.services{
  background-image: url('../public/images/service1.svg'),url('../public/images/service2.svg');
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
}
.icon-bg{
  background-image: url('../public/images/icon/icon-bg.png');
  background-repeat: no-repeat;
}

.footer{
  margin-top: -150px;
}